.tkC3S6XQehKbTEIfFYVM {
   padding: 60px 0;
}
.mCx2N1NwuMWObjjTeG0q {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.TYiiRFB3EhYJGVPE4k4q {
   color: #000 !important;
   background-color: #fff !important;
   
}
